.env
.env.local
.DS_Store
statements_examples/
node_modules/
backend/tmp/
backend/bin/
backend/.bin/
backend/api
backend/coverage.out
ios/BudgetApp/.build/
ios/BudgetApp/.swiftpm/
ios/BudgetApp/build/
DerivedData/
*.xcuserdata
**/xcuserdata/
**/*.xcuserstate
**/__MACOSX/
ios/BudgetApp/Vendor/*.zip
